*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
text-align: center;

}
main{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto 40vh auto;

}
.dark{
    background-color: #27292d;
    color: #d4d3d3;
}

h1,h2{
    font-size: 2rem;
    
    
}
#firsth2{
    text-align: left;

}
.containerBox{
    border: 1px solid #333;
    padding: 2rem 1rem;
}
main div{
    align-self: first baseline;
}

main label{
    font-size: 1rem;

}
main input{
    padding: .4rem;
}

footer{
    font-size: .8rem;
}
footer span{
    color: red;
    font-size: 1.2rem;

}